.credential {
  height: 300px;
  text-align: center;
  background-size: cover;
  background-color: $light_purple;
  

  img {
    margin: 0 auto;
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

}
