.footer{
  background-color: $deep_purple;
}

.foot{
  background-color: $deep_purple;
  border-top: 3px solid white;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  font-size: 0.75rem;

  .address {
    text-align: right;
    @media #{$xs} {
      text-align: left;
    }
  }
}
