.footer{
  background-color: $deep_purple;

  .container{
    border-top: 3px solid white;
    padding: 30px 0;
    color: white;
    font-size: 0.75rem;

    .address {
      text-align: right;
    }
  }
}
