.footer{
  background-color: $deep_purple;
  margin-top: 40px;
}

.foot{
  background-color: $deep_purple;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  font-size: 0.75rem;

  .info {
    text-align: right;
    @media #{$xs} {
      text-align: left;
    }
  }

  .address {
    text-align: right;
    @media #{$xs} {
      text-align: left;
    }
  }
}
