.franchise {

  h1 {
    margin-bottom: 30px;
  }

  .fran-text{
    img {
      width: -webkit-fill-available;
      border: 3px solid $light_purple;
      max-width: 100%;
    }
  }

  .fran-form{
    background-color: $deep_purple;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 3px solid $light_purple;

    .title {
      h3 {
        color: white;
        text-align: center;
      }
    }

    label {
      color: $light_purple;
    }

    input, textarea {
      width: 100%;
      margin-bottom: 10px;
      border: 3px solid $light_purple;
      padding: 10px;
      font-size: 14px;
      color: $deep_purple;
    }
    textarea {
      height: 170px;
    }
    button {
      background-color: $light_purple;
      width: 100%;
      color: $deep_purple;
    }
  }
}
