#home-jumbo {
  position: fixed;
  background: no-repeat center center;
  background-color: $deep-purple;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -10;
}

#home-jumbo-content{
  height: 90vh;
  img {
    margin-top: 30px;
    max-width: 100%;
  }
  margin-bottom: 10vh;

  #home-jumbo-row {
    height: inherit;
  }

  .shadow {
    background-color: rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 80px 53px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 80px 53px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 80px 53px rgba(0,0,0,0.3);
  }

  .intro-text{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    color: white;
    font-family: WashingtonLight;
    h2 {
      font-weight: bold;
      font-size: 4rem;
      text-align: center;
    }
  }
  .info-box{
    border-style: solid;
    border-color: white;
    border-width: 4px;
    color: white;
    height: 86px;
    width: 140px;
    line-height: 86px;
    text-align: center;
    margin: 0 auto;
  }
  #story {
    background: url(../images/story.png) no-repeat center center;
  }
  #products {
    background: url(../images/products.png) no-repeat center center;
  }
  #stores {
    background: url(../images/stores.png) no-repeat center center;
  }


  @media (max-width:520px) {
    .info-box {
      width: 100px;
      height: 60px;
      line-height: 55px;
      margin-bottom: 15px;
    }
    #products {
      padding-top: 7px;
      line-height: 20px;
    }
    .intro-text{
      h2{
        font-size: 2.5rem;
      }
    }

  }

}

.white-background {
  background-color: white;
}

#who-we-work-with {
  text-align: center;
  background-color: white;

  .title {
    font-family: WashingtonBold;
  }

  h2 {
    font-weight: bold;
    color: $deep_purple;
    text-decoration: underline;
    font-size: 3rem;
    text-transform: uppercase;
  }

}

.media-row {
  margin-top: 2rem;
  background-color: white;
}
