.our-story {

  .top-margin {
    margin-top: 30px;
  }
  .container {
    margin-bottom: 30px;
  }

  .cover-helper {
    background-position-x: 30%; 
  }

  h1 {
  font-family: washingtonBold;
  color: $deep_purple;
  text-transform: uppercase;
  text-align: left;
  font-size: 76px;
  letter-spacing: 3px;
    @media #{$lg} {
        font-size: 60px;
    }
  }

  .highlight {
    font-style: italic;
    font-size: 24px;
    color: $deep_purple;
    text-align: center;
    padding-top: 18px;
  }

  .image-helper {
    height: 550px;
    background-size: cover;
    background-position-y: 50%;
  }

  .bibi-helper {
    background-position-x: 60%;
  }

  .small-purple {
    p {
      font-size: 14px;
      color: $deep_purple;
      font-style: italic;
    }
  }
  .line {
    border-top: 1px solid $light_grey;
  }


  img {
    max-width: 100%;
  }

}
