.store-page {

  .store-header{
    background-color: $deep_purple;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    height: 600px;
    padding-top: 200px;
  }

      h1 {
      text-align: center;
      font-family: washington;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
      font-size: 76px;
      letter-spacing: 3px;
        @media #{$lg} {
            font-size: 60px;
        }
      }

      .store-address {
        .address-font {
          color: white;
        }
      }

      .opentime {
        .address-font {
          color: white;
        }
      }

  .store-text {
    margin-top: 80px;
    margin-bottom: 80px;
    p {
      color: $mid-grey;
      font-size: 14px;
      line-height: 28px;
    }
    .two-columns {
      -webkit-column-gap: 40px;
      -moz-column-gap: 40px;
      column-gap: 40px;
      -webkit-column-count: 2; /* Chrome, Safari, Opera */
      -moz-column-count: 2; /* Firefox */
      column-count: 2;
    }
  }
}
