@import 'media_queries';
@import 'colors';
@import 'menu';
@import 'home';
@import 'stores';
@import 'contact';
@import 'footer';

body {
  font-family: frutiger;
}

.jumbotron {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.who-we-work-with {
  top: 100vh;
}

#home-jumbo {
  background: url(../images/home-cover.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
