@import 'media_queries';
@import 'colors';
@import 'menu';
@import 'home';
@import 'our-story';
@import 'stores';
@import 'store';
@import 'blogs';
@import 'blog';
@import 'contact';
@import 'footer';
@import 'snip-cover-image';
@import 'navbar';
@import 'credentials';
@import 'franchise';

body {
  font-family: frutiger;
}

.jumbotron {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.who-we-work-with {
  top: 100vh;
}

.image-width {
  img {
    width: 100%;
  }
}
