@font-face {
    font-family: washington;
    src: url(../fonts/washington/washington.ttf);
}
@font-face {
    font-family: washington;
    src: url(../fonts/washington/washington-d-regular.ttf);
    font-weight: bold;
}


@font-face {
  font-family: frutiger;
  src: url(../fonts/frutiger/FrutigerLTStd-Roman.otf);
}
