.bg-white {
  background-color: white; }

.navbar {
  text-transform: uppercase;
  color: #4A367B; }

.navbar-light .navbar-nav .nav-link {
  color: #4A367B;
  letter-spacing: 1px;
  font-size: 14px; }

.navbar-light .navbar-nav .nav-link:hover {
  color: #D7D4E9; }

.navbar-light .navbar-nav .nav-link.active {
  color: #4A367B;
  font-weight: bold;
  text-decoration: underline; }

#home-jumbo-content {
  height: 90vh;
  margin-bottom: 10vh; }
  #home-jumbo-content img {
    margin-top: 30px;
    max-width: 100%; }
  #home-jumbo-content #home-jumbo-row {
    height: inherit; }
  #home-jumbo-content .intro-text {
    margin-top: 4rem;
    color: white;
    font-family: washington; }
    #home-jumbo-content .intro-text h2 {
      font-size: 4rem;
      font-weight: bold;
      text-align: center; }
  #home-jumbo-content .info-box {
    border-style: solid;
    border-color: white;
    border-width: 4px;
    color: white;
    height: 86px;
    width: 140px;
    line-height: 86px;
    text-align: center;
    margin: 0 auto; }
  #home-jumbo-content #story {
    background: url(../images/story.png) no-repeat center center; }
  #home-jumbo-content #products {
    background: url(../images/products.png) no-repeat center center; }
  #home-jumbo-content #stores {
    background: url(../images/stores.png) no-repeat center center; }
  @media (max-width: 520px) {
    #home-jumbo-content .info-box {
      width: 100px;
      height: 60px;
      line-height: 55px;
      margin-bottom: 15px; }
    #home-jumbo-content #products {
      padding-top: 7px;
      line-height: 20px; }
    #home-jumbo-content .intro-text h2 {
      font-size: 2.5rem; } }

#who-we-work-with {
  text-align: center; }
  #who-we-work-with .title {
    font-family: washington;
    font-weight: bold; }
  #who-we-work-with h2 {
    font-weight: bold;
    color: #4A367B;
    text-decoration: underline;
    font-size: 3rem;
    text-transform: uppercase; }

.media-row {
  margin-top: 2rem; }

.our-story h1 {
  font-family: washington;
  font-weight: bold;
  color: #4A367B;
  text-transform: uppercase;
  font-size: 76px;
  letter-spacing: 3px; }
  @media (max-width: 991px) {
    .our-story h1 {
      font-size: 60px; } }
.our-story .cover-header p {
  font-size: 14px;
  color: #4A367B;
  font-style: italic; }

.stores-page .header-row {
  margin-top: 50px;
  margin-bottom: 50px; }
  .stores-page .header-row h1 {
    text-align: right;
    font-family: washington;
    font-weight: bold;
    color: #4A367B;
    text-transform: uppercase;
    font-size: 76px;
    letter-spacing: 3px; }
    @media (max-width: 991px) {
      .stores-page .header-row h1 {
        font-size: 60px;
        text-align: center; } }
.stores-page .stores-list-container {
  margin-top: 30px; }
  .stores-page .stores-list-container .stores-border {
    border-top: 1px solid #9fa3a7;
    width: 100%;
    min-height: 1px; }
.stores-page .store_row {
  padding-top: 15px;
  padding-bottom: 15px; }
.stores-page .test_border {
  width: 100%;
  border-top: 1px solid #e8e9ed; }
.stores-page p {
  color: #9fa3a7;
  font-family: frutiger;
  margin-bottom: 0px; }
.stores-page .storeaddress #store-name a {
  color: black; }

.address-font {
  text-transform: uppercase;
  font-size: 12px;
  color: #9fa3a7; }

.day > * {
  display: inline-block; }

.day .dayname {
  width: 70px; }

.store-page h1 {
  text-align: center;
  font-family: washington;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-size: 76px;
  letter-spacing: 3px; }
  @media (max-width: 991px) {
    .store-page h1 {
      font-size: 60px; } }
.store-page .store-address .address-font {
  color: white; }
.store-page .opentime .address-font {
  color: white; }
.store-page .store-text {
  margin-top: 80px;
  margin-bottom: 80px; }
  .store-page .store-text p {
    color: #9fa3a7;
    font-size: 14px;
    line-height: 28px; }
  .store-page .store-text .two-columns {
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2; }

.contact {
  margin-top: 3rem;
  width: 100%;
  background-color: #4A367B;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .contact .title {
    font-family: washington;
    font-weight: bold;
    font-size: 4rem; }
  .contact a {
    color: white; }
    .contact a :hover {
      color: #D7D4E9; }
  .contact input {
    width: 100%;
    margin-bottom: 2rem;
    background-color: #7858BF;
    border: none;
    padding: 0.5rem; }

input[type=submit] {
  color: white; }

input[type=text] {
  color: white; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: white; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: white; }

:-moz-placeholder {
  /* Firefox 18- */
  color: white; }

.footer {
  background-color: #4A367B; }

.foot {
  background-color: #4A367B;
  border-top: 3px solid white;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  font-size: 0.75rem; }
  .foot .address {
    text-align: right; }
    @media (max-width: 767px) {
      .foot .address {
        text-align: left; } }

.cover-header {
  background-color: #4A367B;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 600px;
  padding-top: 200px; }

body {
  font-family: frutiger; }

.jumbotron {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1; }

.who-we-work-with {
  top: 100vh; }

#home-jumbo {
  background: url(../images/home-cover.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/*# sourceMappingURL=style.css.map */
